<div class="container">
  <h2>Cart</h2>
  <div *ngIf="cart.length > 0; else emptyCart">
    <div *ngFor="let item of cart" class="cart-item">
      <h3>{{ item.product?.name }}</h3>
      <p>Price: {{ item.product?.price| currency:'USD':'symbol':'1.2-2' }}</p>
      <div class="quantity">
        <span>Quantity: {{ item.quantity }}</span>
        <button class="btn btn-primary" (click)="increaseQuantity(item)">+</button>
        <button class="btn btn-danger" (click)="decreaseQuantity(item)">-</button>
      </div>
      <button class="btn btn-danger" (click)="removeFromCart(item)">Remove</button>
    </div>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>
</div>
